**Exploratory Data Analysis**

In [10]:
#library/function file
import pandas as pd
import numpy as np

data=pd.read_csv("finalcleandata.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14089 entries, 0 to 14088
Data columns (total 10 columns):
Unnamed: 0      14089 non-null int64
class           14089 non-null object
redshift        14089 non-null float64
redshift_err    14089 non-null float64
green_mag       14089 non-null float64
green_err       14089 non-null float64
green_ext       14089 non-null float64
red_mag         14089 non-null float64
red_err         14089 non-null float64
red_ext         14089 non-null float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.1+ MB

In [11]:
#need to remove unnamed column
data=data.drop(data.columns[[0]],axis=1)
data.head()
#all good now

,class,redshift,redshift_err,green_mag,green_err,green_ext,red_mag,red_err,red_ext
0,GALAXY,0.185702,0.000051,20.27926,0.033027,0.404524,19.03009,0.017111,0.279848
1,GALAXY,0.353038,0.000067,20.41617,0.051364,0.068213,18.74046,0.017799,0.047189
2,GALAXY,0.527042,0.000099,22.38628,0.191882,0.094343,20.59653,0.058532,0.065266
3,GALAXY,0.397942,0.000153,20.55792,0.069158,0.284085,18.78533,0.023086,0.196528
4,GALAXY,0.613297,0.000307,21.39559,0.219298,0.173314,19.90453,0.089911,0.119898

In [13]:
#lets do some basic analysis
data.describe()

,redshift,redshift_err,green_mag,green_err,green_ext,red_mag,red_err,red_ext
count,14089.000000,14089.000000,14089.000000,14089.000000,14089.000000,14089.000000,14089.000000,14089.000000
mean,0.634001,0.007527,20.502305,0.091057,0.123099,19.354156,0.039004,0.085159
std,0.703804,0.326948,1.917021,0.140025,0.113821,1.697269,0.074755,0.078741
min,-0.000352,-4.000000,13.314280,0.001691,0.010848,12.560160,0.001599,0.007505
25%,0.174857,0.000031,18.783590,0.011762,0.062217,17.782160,0.008691,0.043042
50%,0.472265,0.000108,20.977720,0.048290,0.096359,19.846080,0.027529,0.066660
75%,0.632072,0.000193,22.000940,0.125751,0.153795,20.676390,0.054972,0.106395
max,7.011245,25.496150,26.557510,5.027443,4.907377,27.300050,5.579384,3.394901

While there are large outliers for almost all of our data, due to the large sample size we chose, the standard deviation,mean, and median are all a good representation of the values we were trying to pull.